node_modules
dist
npm-debug.log*
.npm
.nyc_output
coverage
.grunt
lib-cov
*.seed
*.log
*.out
*.pid
*.gz
pids
logs
results
build/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
*.swp
*.swo
Dockerfile
.dockerignore
README.md
.git
.gitignore
.prettierrc
eslint.config.mjs
.eslintrc.js
test/
src/**/*.spec.ts
*.tsbuildinfo